header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: all ease 0.7s;
    
}
.preto{
    background-color: #141414;
}
.header--logo{
    margin-left: 18px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e50913;
}
.header--user{
    height: 39px;
}

.header--user img {
    height: 100%;
}
input{
    height: 30px;
    background-color: #ee1414;
    border: none;
    border-radius: 5px 5px 5px 5px;
    margin-right: 23px;

}
.busc{

    float: right;
}