.movieRow {
    margin-bottom: 30px;
}
.movieRow h2 {
    margin: 0 0 0 10px;
}
.movieRow--listarea {
    overflow-x: hidden;
  
}
.movieRow--list {
    
}
.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.3s;
}
.movieRow--item img:hover {
    transform: scale(1);
}
.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
    transition: all ease 0.5s;
}
.movieRow--left {
    left: 0;
}
.movieRow--right {
    right: 0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;

}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
   left: 35vh;
    width: 50vh;
    height: 35vh;
    
  }
  
  